@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
    font-family: "Roboto", sans-serif;
}
/*Scroll bar*/
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: rgb(177,173,173);
}
body{
    background-color: #FFFFFF;
}
h1 a {
    text-decoration: 0;
    color: #000;
    font-weight: 500;
    letter-spacing: 0;
}
nav ul li a{
    text-decoration: 0;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
}
ul{
    list-style: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
    padding: 25px 0 ;
}
nav ul{
    display: flex;
}nav ul li a {
    margin-left: 50px;
    padding-bottom: 3px;
    position: relative;
}
#projet-li{
    padding-left: 15%;
    padding-right: 15%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
#section-flex{
    display: flex;
}
#img-container{
    margin : 7% 0 0 10%;
    
}
#img-container img{
    border-radius: 50%;
    width: 450px;
    margin-right: 100px;
}
#about-me{
    width: 450px;
    margin-top: 7%;
    margin-left: 50px;
}
#button {
    margin:3%;
    display: flex;
}
#about-me #button button{
    height: 100px;
    width: 100px;
    margin:2%;
    padding: 5%;
    font-size: 20px;
    font-weight: 400;
    border: 0px;

}
#about-me h2{
    font-size: 60px;
    margin-bottom: 50px;
}
#about-me h3{
    font-size: 25px;
    margin-bottom: 30px;
}

#about-me #button #about-CV{
    background-color: #EEA302;
    border-radius: 50%;
    cursor: pointer;
}
#about-me #button #about-Projects{
    background-color: #E13B25;
    border-radius: 50%;
    cursor: pointer;
}
#about-me #button #about-Contact{
    background-color: #80D8DA;
    border-radius: 50%;
    cursor: pointer;
}
#about-me #button #about-CV a{
    text-decoration: 0;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    justify-content: center;
}
#about-me #button #about-Projects a{
    text-decoration: 0;
    color: #000;
    font-weight: 400;
    font-size: 20px;;
    position: relative;
    justify-content: center;
}
#about-me #button #about-Contact a{
    text-decoration: 0;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    justify-content: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8% 8% 0 8%;
    padding: 25px 0;
    border-top: 1px solid #000;
}
footer img{
    width: 30px;
    height: 30px;
    padding: 3%;
}

